
$vivid_red: #e93125;
$vivid_blue: #104394;
$light_grey: #f9fafb;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 30px;
$spacing-xxl: 40px;

$grid-gap-sm: 16px;
$grid-gap-md: 24px;
$grid-gap-lg: 30px;

$card-padding: 20px;
$card-margin: 16px;
