@use 'vars' as *;

@use 'layout/MainLayout.scss';

@use 'auth/RouteGuard.scss';
@use 'auth/AuthResponsive.scss';

@use 'pages/ResetPassword.scss';
@use 'pages/Forbidden.scss';

@use 'components/EmptyPage.scss';

@use 'sections/Events.scss';
@use 'sections/Notices.scss';
@use 'sections/Membership.scss';

@use 'bootstrap-icons/font/bootstrap-icons.css';

body {
  background-color: #f9fafb;
}

body.modal-open {
  overflow: hidden;
  touch-action: none;
}

* {
  font-family: "Public Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}